/* BASIC STYLES HERE */
.custom-header {
    /* padding: 20px;
    border: 2px solid #007bff; 
    border-radius: 10px;  */
    background-color: transparent
}

body {
    background-image: url(https://plus.unsplash.com/premium_photo-1676642613556-e3a217b2751e?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
}